<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE-BOOLFLIX</title>
    <link rel="stylesheet" href="cssFlags/flag-icon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div id="mainContainer">
        <!--Creare un layout base con una searchbar (un input e un button) in cui possiamo
            scrivere completamente o parzialmente il nome di un film. -->
        <header>
            <nav>
                <input type="text" placeholder="Inserisci il titolo di un film" 
                    v-model="userSearch" @keyup.enter="getNewUrl()">
                <button @click="getNewUrl()">CERCA</button>
            </nav>
        </header>
        <main>
            <div class="filmsBox" v-if="filmsList !== []">
                <h2>LISTA FILM</h2>
                <div class="filmCard" v-for="film in filmsList">
                    <!--immagine copertina film-->
                    <img :src="`https://image.tmdb.org/t/p/w154${film.poster_path}`"  alt="film poster"
                        v-if="film.poster_path">
                    <!--titolo-->
                    <div class="title" v-if="film.original_title !== film.title"></div>
                    <!--titolo originale-->
                    <div class="originalTitle">{{film.original_title}}</div>
                    <!--lingua-->
                    <div class="language">
                        <span class="flag-icon" :class="getCountryFlag(film)"></span>
                    </div>
                    <!--voto-->
                    <div class="vote">
                        <i class="fa fa-star" :style="{color: 'gold'}" v-for="star in getStarsRating(film)"></i>
                        <i class="fa fa-star-o" :style="{color: 'gold'}" v-for="emptyStar in (5 - getStarsRating(film))"></i>
                    </div>
                </div>
            </div>
            <div class="seriesBox" v-if="seriesList !== []">
                <h2>LISTA SERIE TV</h2>
                <div class="serieCard" v-for="serie in seriesList">
                    <!--immagine copertina serie-->
                    <img :src="`https://image.tmdb.org/t/p/w154${serie.poster_path}`"  alt="serie poster"
                        v-if="serie.poster_path">
                    <!--titolo-->
                    <div class="title" v-if="serie.original_name !== serie.name"></div>
                    <!--titolo originale-->
                    <div class="originalTitle">{{serie.original_name}}</div>
                    <!--lingua-->
                    <div class="language">
                        <span class="flag-icon" :class="getCountryFlag(serie)"></span>
                    </div>
                    <!--voto-->
                    <div class="vote">
                        <i class="fa fa-star" :style="{color: 'gold'}" v-for="star in getStarsRating(serie)"></i>
                        <i class="fa fa-star-o" :style="{color: 'gold'}" v-for="emptyStar in (5 - getStarsRating(serie))"></i>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="script/app.js"></script>
</body>
</html>