<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE-BOOLFLIX</title>
    <link rel="stylesheet" href="cssFlags/flag-icon.css">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div id="mainContainer">
        <!--Creare un layout base con una searchbar (un input e un button) in cui possiamo
            scrivere completamente o parzialmente il nome di un film. -->
            <header>
                <nav>
                    <input type="text" placeholder="Inserisci il titolo di un film" 
                        v-model="userSearch" @keyup.enter="getNewUrl()">
                    <button @click="getNewUrl()">CERCA</button>
                </nav>
            </header>
            <main>
                <!--Milestone 1-->
                <div class="filmsBox" v-if="filmsList !== []">
                    <h2>LISTA FILM</h2>
                    <div class="filmCard" v-for="film in filmsList">
                        <!--titolo-->
                        <div class="title" v-if="film.original_title !== film.title"></div>
                        <!--titolo originale-->
                        <div class="originalTitle">{{film.original_title}}</div>
                        <!--lingua-->
                        <div class="language">{{film.original_language}}</div>
                        <span class="flag-icon"
                        :class="film.original_language === 'en'? `flag-icon-us` : `flag-icon-${film.original_language}`"></span>
                        <!--voto-->
                        <div class="vote">{{film.vote_average}}</div>
                    </div>
                </div>
                <!--Milestone 2-->
                <div class="seriesBox" v-if="seriesList !== []">
                    <h2>LISTA SERIE TV</h2>
                    <div class="serieCard" v-for="serie in seriesList">
                        <!--titolo-->
                        <div class="title" v-if="serie.original_name !== serie.name"></div>
                        <!--titolo originale-->
                        <div class="originalTitle">{{serie.original_name}}</div>
                        <!--lingua-->
                        <div class="language">{{serie.original_language}}</div>
                        <span class="flag-icon" 
                        :class="serie.original_language === 'en'? `flag-icon-us` : `flag-icon-${serie.original_language}`"></span>
                        <!--voto-->
                        <div class="vote">{{serie.vote_average}}</div>
                    </div>
                </div>
            </main>
    </div>

    <script src="script/app.js"></script>
</body>
</html>