<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE-BOOLFLIX</title>
    <link rel="stylesheet" href="cssFlags/flag-icon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div id="mainContainer">
        <!--Creare un layout base con una searchbar (un input e un button) in cui possiamo
            scrivere completamente o parzialmente il nome di un film. -->
        <header>
            <nav class="navbar">
                <div class="logo">
                    <h1>BOOLFLIX</h1>
                </div>
                <input type="text" placeholder="Cerca" 
                    v-model="userSearch" @keyup.enter="getNewUrl()" class="inputStyle">
                <!-- <button @click="getNewUrl()" class="btnStyle">CERCA</button> -->
            </nav>
        </header>
        <main>
            <h2 class="category" v-if="filmsList">FILM</h2>
            <div class="cardsBox" v-if="filmsList">
                <div class="card" v-for="film in filmsList">
                    <div class="layover imageSize">
                        <!--titolo-->
                        <div class="title" v-if="film.original_title !== film.title">Titolo {{film.title}}</div>
                        <!--titolo originale-->
                        <div class="originalTitle">Original Title: {{film.original_title}}</div>
                        <!--lingua-->
                        <div class="language">
                            <span class="flag-icon" :class="getCountryFlag(film)"></span>
                        </div>
                        <!--voto-->
                        <div class="vote">
                            <span>Rating: </span>
                            <i class="fa" :class="{'fa-star': star === 1, 'fa-star-o': star === 0}" :style="{color: 'gold'}" v-for="star in getStarsRating(film)"></i>
                        </div>
                        <div class="castBox">
                            <span class="castBtn" @click="getFullMovieCast(film)">CAST</span>
                            <div v-if="film.isVisible">
                                <span class="actors" v-for="actor in film.actors">{{actor.original_name}}, </span>
                            </div>
                        </div>
                        <!--overview/trama-->
                        <div class="overview">
                            <p>Overview: {{film.overview}}</p>
                        </div> 
                    </div>
                    <!--immagine copertina film-->
                    <img :src="createPoster(film)"  alt="film poster" class="imageSize">
                </div>
            </div>
            <h2 class="category" v-if="seriesList">SERIE TV</h2>
            <div class="cardsBox" v-if="seriesList">
                <div class="card" v-for="serie in seriesList">
                    <div class="layover imageSize">
                        <!--titolo-->
                        <div class="title" v-if="serie.original_name !== serie.name">Titolo {{serie.name}}</div>
                        <!--titolo originale-->
                        <div class="originalTitle">Original Title: {{serie.original_name}}</div>
                        <!--lingua-->
                        <div class="language">
                            <span class="flag-icon" :class="getCountryFlag(serie)"></span>
                        </div>
                        <!--voto-->
                        <div class="vote">
                            <span>Rating: </span>
                            <i class="fa" :class="{'fa-star': star === 1, 'fa-star-o': star === 0}" :style="{color: 'gold'}" v-for="star in getStarsRating(serie)"></i>
                        </div>
                        <div class="castBox">
                            <span class="castBtn" @click="getSerieCast(serie)">CAST</span>
                            <div v-if="serie.isVisible">
                                <span class="actors" v-for="actor in serie.actors">{{actor.original_name}}, </span>
                            </div>
                        </div>
                        <!--overview/trama-->
                        <div class="overview">Overview: {{serie.overview}}</div> 
                    </div>
                    <!--immagine copertina serie-->
                    <img :src="createPoster(serie)"  alt="serie poster" class="imageSize">
                </div>
            </div>
        </main>
    </div>

    <script src="script/app.js"></script>
</body>
</html>